#tab-collection{
    width:100%;
    background-color:#E9BEAD;
    padding:0, 0.2em;
    border-bottom:5px solid black;
}
.tab{
    display:inline-block;
    overflow:hide;
    background-color:rgb(125, 73, 173);
    margin:0 0.2em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
/*heading*/
header{
    background-color:#E9BEAD;
    display:inline-block;
    height:50px;
    width:100%;
    margin:0;
    padding:15px 0;
   }
   
   .logo{
       height:100%;
       width:4%;
       display:inline-block;
       margin:0 4px;
   
   }
   
   .header-title{
       display:inline-block;
       font-family:sans-serif;
       height:80%;
       margin-right:10px;
   
   
   }
   
   #searchForm{
       display:inline-block;
       width:60%;
       
   }
   #searchBar{
       display:inline-block;
       height:80%;
       width:30%;
       margin-left:auto;
       margin-right:auto;
       
   }
   #submit-button{
       display:inline-block;
       height:50%;
   }
html{
    padding:0;
    margin:0;
    width:100%;
}
body{
    padding:0;
    margin:0;
    width:100%;
    background-image:url(../assets/backgroundPhotos/library.jpg);
}